global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'postgres-exporter'
    metrics_path: /metrics
    static_configs:
      - targets: ['postgres-exporter:9187']
    scrape_interval: 20s

  - job_name: 'custom-exporter'
    static_configs:
      - targets: ['custom-exporter:8000']
    scrape_interval: 20s

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: []
